#container-port{
    position: relative;
    width: 906px;
    height: 475px;
    border: 2px solid #fff;
    cursor: pointer;
    -moz-box-shadow: 1px 1px 3px #222;
    -webkit-box-shadow: 1px 1px 3px  #222;
    box-shadow: 1px 1px 3px #222;
}

.area1{
    
	width: 449px;
    height:334px;
    position: absolute;
    top: 0px;
    left: 0px;
}
.area2{
   
    width:441px;
    height:235px;
    position: absolute;
    top: 0px;
    right: 0px;
}
.area3{
    
	width:584px;
    position: absolute;
    bottom: 38px;
    left: 357px;
}
.area4{
    
	width:192px;
    height:135px;
    position: absolute;
    bottom: 0px;
    left: 0px;
}
.area5{
    
    width: 77%;
    height: 28%;
    position: absolute;
    bottom: 2px;
    right: 0px;
}

#container-port{
    width: 906px;
    position: relatve;
    margin: 20px auto 0px auto;
}
    
	


.visible1{
    
    width: 449px;
    height: 325px;
}
.visible2{
    width: 451px;
}
.visible3{
    width: 451px;
}
.visible4{
    width: 192px;
    
}
.visible5{
    width: 28%;
}